Password Reset
-----------------------------

We are delighted to help you reset the password!  Just click on <a href="<%= passwordResetUrl %>">this link</a> and we'll redirect you to the secure password change form.

If the link above does not work, please copy the following address and paste it into your browser's address bar to continue: <%= passwordResetUrl %>.

If you did not make this request, we are sorry - please follow the link above and change your password for your own safety!

Warm regards,

<%= homeUrl %>
